<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ck.ssm.mapper.ProductMapper">

    <!--动态SQL 不查询删除产品-->
    <sql id="proDel">
        <where>
            and isdelete = 1
        </where>
    </sql>

    <!--查询所有产品-->
    <select id="findAllPro" resultType="com.ck.ssm.pojo.Product">
        select * from product <include refid="proDel" />
        order by departureTime desc
    </select>

    <!--根据Id查询产品-->
    <select id="findProById" parameterType="string" resultType="com.ck.ssm.pojo.Product">
        select * from product <include refid="proDel" /> and id = #{id}
    </select>

    <!--查询角色可关联权限-->
    <select id="findOtherPerById" parameterType="string" resultType="com.ck.ssm.pojo.Permission" >
        SELECT * FROM permission WHERE id not in
        (select permissionId from role_permission where roleId=#{roleId}) and isdelete = 1
    </select>

    <!--添加产品-->
    <insert id="insertPro" parameterType="com.ck.ssm.pojo.Product">
        insert into product (productNum,productName,cityName,departureTime,productPrice,productDesc,productStatus)
        values(#{productNum},#{productName},#{cityName},#{departureTime},#{productPrice},#{productDesc},#{productStatus})
    </insert>

    <!--动态SQL批量删除-->
    <sql id="proId">
        <foreach collection="list" item="pro_id" open="and id in(" close=")" separator=",">
            #{pro_id}
        </foreach>
    </sql>

    <!--根据Id删除产品-->
    <update id="deleteProById" parameterType="list">
       update product set isdelete = 0
        <where>
            <include refid="proId"></include>
        </where>
    </update>
</mapper>